<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'/>
    <style>
      body {
        margin: 0;
        padding: 0;
      }
      #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
      }
    </style>
  </head>
  <body>

    <style>
      #map {
        position: fixed;
        width: 60%;
      }
      #features {
        width: 40%;
        margin-left: 60%;
        font-family: sans-serif;
        overflow-y: scroll;
        background-color: #fafafa;
      }
      section {
        padding: 25px 50px;
        line-height: 25px;
        border-bottom: 1px solid #ddd;
        opacity: 0.25;
        font-size: 18px;
      }
      section.active {
        opacity: 1;
      }
      section:last-child {
        border-bottom: none;
        margin-bottom: 200px;
      }
    </style>

    <div id='map'></div>
    <div id='features'>
      <section id='fultonriver' class='active'>
        <%=image_tag("https://tourchicago.s3.us-east-2.amazonaws.com/fultonriverdistrict.png", class: "img-responsive") %>
        <h3>CHICAGO'S NEW RIVERFRONT CITY</h3>
        <p>Situated on 37-acres and tying together Chicago's most desirable 24/7 submarkets; the West Loop, River North and Fulton Market. Rare opportunity to design and build a new state of the art city from the ground up. The new development, Fulton River District, is an expansion and creates tranforms a once. A natural continuation of the success and vibrancy at the River's confluence.</p>
      </section>
      <section id='ebc' class='active'>
        <%=image_tag("https://tourchicago.s3.us-east-2.amazonaws.com/ebc_exterior_river.jpg", class: "img-responsive") %>
        <h3>EAST BANK CLUB</h3>
        <p>With more than 450,000 square feet to work out, chill out, and dine out, East Bank Club is Chicago’s premier health club. Covering over two full city blocks, the Club offers an astounding array of amenities, state-of-the-art exercise facilities
          and equipment, and dining options to cater to every want and need. And it’s all delivered with an unparalleled level of personalized service.</p>
      </section>
      <section id='riverwalk'>
        <%=image_tag("https://tourchicago.s3.us-east-2.amazonaws.com/chicagoriverwalk-Season-Celebration.jpg", class: "img-responsive") %>
        <h3>MAIN BRANCH RIVERWALK</h3>
        <p>Chicago River architecture tour ranks as the ""#2 travel experience in the world" according to Trip Advisor.ULI stat, Chicago's second shoreline and rapidly asserting itself as the most pleasing urban aesthetic. Intended as a gathering place for the local community, the store will host year-round Today at Apple programming, building on Chicago’s city-wide initiative to enliven the Riverwalk. Chicago’s connection to its river runs deep and Apple Michigan
          Avenue adds new access to the riverfront from Pioneer Court. “Apple Michigan Avenue is about removing boundaries between inside and outside, reviving important urban connections within the city,” said Jony Ive, Apple’s chief design officer. “It
          unites a historic city plaza that had been cut off from the water, giving Chicago a dynamic new arena that flows effortlessly down to the river.”</p>
      </section>
      <section id='fultonmarket'>
        <%=image_tag("https://tourchicago.s3.us-east-2.amazonaws.com/fultonmarketdistrict.jpg", class: "img-responsive") %>
        <h3>WORLD CLASS DINING</h3>
        <p>Home to 7 Michelin Star and 14 Bib Gourmand rated retaurants, Chicago's Fulton Market and River North neighborhoods offer the City's highest concentrations of world-class dining and entertainment and are host to venues to cause Chicago to be voted "Restaurant City of the Year" (2017) by Bon Appetit
        </p>
      </section>
      <section id='michigan'>
        <h3>1 MILE TO MAG MILE</h3>
        <%=image_tag("https://tourchicago.s3.us-east-2.amazonaws.com/watertower.png", class: "img-responsive") %>
        <p>Hospitality shopping most recognizable shopping streets in the U.S. must-have location for major luxury brands<em>The Daily Telegraph</em>Northwestern University Pritzker School of Law and Medical facilities</p>
      </section>
      <section id='lakefront'>
        <%=image_tag("https://tourchicago.s3.us-east-2.amazonaws.com/lakefront.jpg", class: "img-responsive") %>
        <h3>LAKEFRONT RECREATION</h3>
        <p>Access to two of the City's most vibrant beaches and 18 miles of recreational trails for jogging, biking and leasure.</p>
      </section>
      <section id='confluence'>
        <%=image_tag("https://tourchicago.s3.us-east-2.amazonaws.com/confluence.jpg", class: "img-responsive") %>
        <h3>RIVER CONFLUENCE</h3>
        <p>North, South and Main Branches Chicago's earliest settlements, just now being reborn as Chicago's most premier office and residential location, home to a variety of leading corporate business including Bank of America, William Blair, Hyatt, Law Firm et al.accessibility, river views and light and air</p>
      </section>
      <section id='kinziepark'>
        <%=image_tag("https://tourchicago.s3.us-east-2.amazonaws.com/kinzie-park.jpg", class: "img-responsive") %>
        <h3>VIEW FROM GRAND AVE BRIDGE</h3>
        <p>Curvature of the river creates stunning views back to the City, Chicago Landmark "Carrol Avenue Bridge" and iconic skyscrapers</p>
      </section>
      <section id='bank'>
        <%=image_tag("https://tourchicago.s3.us-east-2.amazonaws.com/towerone.png", class: "img-responsive") %>
        <h3>NEW HEADQUARTERS</h3>
        <p>Uniting 3 submarkets previously disjointed by industrial use and providing access to the river. Phase of of the Fulton River District is a 1.2 million square foot state of the art office building. Included in the first phase of the development will be 500' of riverwalk, 4-acres of public open space as well, 450 residential units and a variety of fresh food and fitness venues</p>
        <small id="citation">
          Tour Provided By:
          <a href='http://riversideid.com/'>Riverside Investment & Development Company</a>
        </small>
      </section>
    </div>
    <script>
      mapboxgl.accessToken = 'pk.eyJ1IjoibXBvdHRlciIsImEiOiJjajAxZGltM3UwNjF2MzJsczVnN3R2eTNnIn0._Sj0HRLt8VTQGTojMWYFfQ';

      var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mpotter/cjzbm9u951d6m1cp9dxfh7o2g',
        center: [
          -87.632622, 41.887671
        ],
        zoom: 12.5
      });

      map.on('load', function () {

        map.addLayer({
            'id': '3d-buildings',
            'source': 'composite',
            'source-layer': 'building',
            'filter': ['==', 'extrude', 'true'],
            'type': 'fill-extrusion',
            'minzoom': 11,
            'paint': {
                'fill-extrusion-color': '#aaa',
                // use an 'interpolate' expression to add a smooth transition effect to the
                // buildings as the user zooms in
                'fill-extrusion-height': [
                    "interpolate", ["linear"], ["zoom"],
                    15, 0,
                    15.05, ["get", "height"]
                  ],
                'fill-extrusion-base': [
                  "interpolate", ["linear"], ["zoom"],
                    15, 0,
                    15.05, ["get", "min_height"]
                  ],
                'fill-extrusion-opacity': .6
                }
            });
            //add layers for blip
            map.addSource('point', {
                "type": "geojson",
                "data": {
                    "type": "Point",
                    "coordinates": [
                        -87.646196, 41.895594
                    ]
                }
            });
            map.addLayer({
                "id": "point",
                "source": "point",
                "type": "circle",
                "paint": {
                    "circle-radius": initialRadius,
                    "circle-radius-transition": {duration: 0},
                    "circle-opacity-transition": {duration: 0},
                    "circle-color": "#ffffff"
                }
            });
            map.addLayer({
                "id": "point1",
                "source": "point",
                "type": "circle",
                "paint": {
                    "circle-radius": initialRadius,
                    "circle-color": "#007cbf"
                }
            });
            animateMarker(0);



        });

      var chapters = {
        'fultonriver': {
          bearing: 0,
          center: [
            -87.632622, 41.887671
          ],
          zoom: 12.50,
          pitch: 0
        },
        'ebc': {
          bearing: 45,
          center: [
            -87.639413, 41.890202
          ],
          zoom: 16,
          pitch: 60
        },
        'riverwalk': {
          duration: 3000,
          center: [
            -87.630243, 41.887085
          ],
          bearing: 270,
          zoom: 16,
          pitch: 60
        },
        'fultonmarket': {
          bearing: 0,
          center: [
            -87.641685, 41.891385
          ],
          zoom: 14.25,
          pitch: 0
        },
        'michigan': {
          duration: 3000,
          bearing: 270,
          center: [
            -87.624242, 41.896664
          ],
          zoom: 15.75,
          pitch: 75
        },
        'lakefront': {
          bearing: 250,
          center: [
            -87.616793, 41.896819
          ],
          zoom: 15.3,
          pitch: 60,
          speed: 0.5
        },
        'confluence': {
          bearing: 335,
          center: [
            -87.637893, 41.886379
          ],
          zoom: 15.75,
          pitch: 60
        },
        'kinziepark': {
          bearing: 150,
          center: [
            -87.641192, 41.889757
          ],
          zoom: 16.25,
          pitch: 60
        },
        'bank': {
          bearing: 280,
          center: [
            -87.642565, 41.892121
          ],
          zoom: 15.75,
          pitch: 60
        },
      };

      // On every scroll event, check which element is on screen
      window.onscroll = function () {
        var chapterNames = Object.keys(chapters);
        for (var i = 0; i < chapterNames.length; i++) {
          var chapterName = chapterNames[i];
          if (isElementOnScreen(chapterName)) {
            setActiveChapter(chapterName);
            break;
          }
        }
      };

      var activeChapterName = 'fultonriver';
      function setActiveChapter(chapterName) {
        if (chapterName === activeChapterName)
          return;

        map.flyTo(chapters[chapterName]);

        document.getElementById(chapterName).setAttribute('class', 'active');
        document.getElementById(activeChapterName).setAttribute('class', '');

        activeChapterName = chapterName;
      }

      function isElementOnScreen(id) {
        var element = document.getElementById(id);
        var bounds = element.getBoundingClientRect();
        return bounds.top < window.innerHeight && bounds.bottom > 0;
      }
    </script>

  </body>
</html>
