<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'/>
    <style>
      body {
        margin: 0;
        padding: 0;
      }
      #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
      }
    </style>
  </head>
  <body>

    <style>
      #map {
        position: fixed;
        width: 50%;
      }
      #features {
        width: 50%;
        margin-left: 50%;
        font-family: sans-serif;
        overflow-y: scroll;
        background-color: #fafafa;
      }
      section {
        padding: 25px 50px;
        line-height: 25px;
        border-bottom: 1px solid #ddd;
        opacity: 0.25;
        font-size: 13px;
      }
      section.active {
        opacity: 1;
      }
      section:last-child {
        border-bottom: none;
        margin-bottom: 200px;
      }
    </style>

    <div id='map'></div>
    <div id='features'>
      <section id='fultonriver' class='active'>
        <%=image_tag("https://tourchicago.s3.us-east-2.amazonaws.com/fultonriverdistrict.png", class: "img-responsive") %>
        <h3>CHICAGO'S NEW RIVERFRONT CITY</h3>
        <p>Situated on 37-acres and tying together Chicago's most desirable 24/7 submarkets; the West Loop, River North and Fulton Market. Rare opportunity to design and build a new state of the art city from the ground up. The new development, Fulton River District, is an expansion and creates tranforms a once. A natural continuation of the success and vibrancy at the River's confluence.</p>
      </section>
      <section id='ebc' class='active'>
        <%=image_tag("https://tourchicago.s3.us-east-2.amazonaws.com/ebc_exterior_river.jpg", class: "img-responsive") %>
        <h3>EAST BANK CLUB</h3>
        <p>With more than 450,000 square feet to work out, chill out, and dine out, East Bank Club is Chicago’s premier health club. Covering over two full city blocks, the Club offers an astounding array of amenities, state-of-the-art exercise facilities
          and equipment, and dining options to cater to every want and need. And it’s all delivered with an unparalleled level of personalized service.</p>
      </section>
      <section id='riverwalk'>
        <%=image_tag("https://tourchicago.s3.us-east-2.amazonaws.com/chicagoriverwalk-Season-Celebration.jpg", class: "img-responsive") %>
        <h3>MAIN BRANCH RIVERWALK</h3>
        <p>Intended as a gathering place for the local community, the store will host year-round Today at Apple programming, building on Chicago’s city-wide initiative to enliven the Riverwalk. Chicago’s connection to its river runs deep and Apple Michigan
          Avenue adds new access to the riverfront from Pioneer Court. “Apple Michigan Avenue is about removing boundaries between inside and outside, reviving important urban connections within the city,” said Jony Ive, Apple’s chief design officer. “It
          unites a historic city plaza that had been cut off from the water, giving Chicago a dynamic new arena that flows effortlessly down to the river.”</p>
      </section>
      <section id='fultonmarket'>
        <%=image_tag("https://tourchicago.s3.us-east-2.amazonaws.com/fultonmarketdistrict.jpg", class: "img-responsive") %>
        <h3>FULTON MARKET DISTRICT</h3>
        <p>Mycroft responds to Sherlock's telegram and mentions several spies. Hugo Oberstein of 13 Caulfield Gardens catches Sherlock's eye. He heads to the nearby Gloucester Road station to investigate and learns that the windows of Caulfield Gardens open
          over rail tracks where trains stop frequently.</p>
      </section>
      <section id='michigan'>
        <h3>MICHIGAN AVENUE</h3>
        <%=image_tag("https://tourchicago.s3.us-east-2.amazonaws.com/watertower.png", class: "img-responsive") %>
        <p>Holmes deduces that the murderer placed West atop a stopped train at Caulfield Gardens. The train traveled to Aldgate Station before West's body finally toppled off. Backtracking to the criminal's apartment, Holmes finds a series of classified ads
          from
          <em>The Daily Telegraph</em>
          stashed away. All are under the name Pierrot: "Monday night after nine. Two taps. Only ourselves. Do not be so suspicious. Payment in hard cash when goods delivered."</p>
      </section>
      <section id='lakefront'>
        <%=image_tag("https://tourchicago.s3.us-east-2.amazonaws.com/lakefront.jpg", class: "img-responsive") %>
        <h3>CHICAGO LAKEFRONT</h3>
        <p>Holmes and Watson head to The Daily Telegraph and place an ad to draw out the criminal. It reads: "To-night. Same hour. Same place. Two taps. Most vitally important. Your own safety at stake. Pierrot." The trap works and Holmes catches the
          criminal: Colonel Valentine Walter, the brother of Woolwich Arsenal's chief. He confesses to working for Hugo Oberstein to obtain the submarine plans in order to pay off his debts.</p>
      </section>
      <section id='confluence'>
        <%=image_tag("https://tourchicago.s3.us-east-2.amazonaws.com/confluence.jpg", class: "img-responsive") %>
        <h3>RIVER CONFLUENCE</h3>
        <p>Holmes and Watson head to The Daily Telegraph and place an ad to draw out the criminal. It reads: "To-night. Same hour. Same place. Two taps. Most vitally important. Your own safety at stake. Pierrot." The trap works and Holmes catches the
          criminal: Colonel Valentine Walter, the brother of Woolwich Arsenal's chief. He confesses to working for Hugo Oberstein to obtain the submarine plans in order to pay off his debts.</p>
        <small id="citation">
          Adapted from
          <a href='http://www.gutenberg.org/files/2346/2346-h/2346-h.htm'>Project Gutenberg</a>
        </small>
      </section>
    </div>
    <script>
      mapboxgl.accessToken = 'pk.eyJ1IjoibXBvdHRlciIsImEiOiJjajAxZGltM3UwNjF2MzJsczVnN3R2eTNnIn0._Sj0HRLt8VTQGTojMWYFfQ';

      var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mpotter/cjzbm9u951d6m1cp9dxfh7o2g',
        center: [
          -87.632622, 41.887671
        ],
        zoom: 12.5
      });

      map.on('load', function () {

        map.addLayer({
            'id': '3d-buildings',
            'source': 'composite',
            'source-layer': 'building',
            'filter': ['==', 'extrude', 'true'],
            'type': 'fill-extrusion',
            'minzoom': 11,
            'paint': {
                'fill-extrusion-color': '#aaa',
                // use an 'interpolate' expression to add a smooth transition effect to the
                // buildings as the user zooms in
                'fill-extrusion-height': [
                    "interpolate", ["linear"], ["zoom"],
                    15, 0,
                    15.05, ["get", "height"]
                  ],
                'fill-extrusion-base': [
                  "interpolate", ["linear"], ["zoom"],
                    15, 0,
                    15.05, ["get", "min_height"]
                  ],
                'fill-extrusion-opacity': .6
                }
            });
            //add layers for blip
            map.addSource('point', {
                "type": "geojson",
                "data": {
                    "type": "Point",
                    "coordinates": [
                        -87.646196, 41.895594
                    ]
                }
            });
            map.addLayer({
                "id": "point",
                "source": "point",
                "type": "circle",
                "paint": {
                    "circle-radius": initialRadius,
                    "circle-radius-transition": {duration: 0},
                    "circle-opacity-transition": {duration: 0},
                    "circle-color": "#ffffff"
                }
            });
            map.addLayer({
                "id": "point1",
                "source": "point",
                "type": "circle",
                "paint": {
                    "circle-radius": initialRadius,
                    "circle-color": "#007cbf"
                }
            });
            animateMarker(0);



        });

      var chapters = {
        'fultonriver': {
          bearing: 0,
          center: [
            -87.632622, 41.887671
          ],
          zoom: 12.50,
          pitch: 0
        },
        'ebc': {
          bearing: 45,
          center: [
            -87.639413, 41.890202
          ],
          zoom: 16,
          pitch: 60
        },
        'riverwalk': {
          duration: 3000,
          center: [
            -87.630243, 41.887085
          ],
          bearing: 270,
          zoom: 16,
          pitch: 60
        },
        'fultonmarket': {
          bearing: 90,
          center: [
            -87.651965, 41.885551
          ],
          zoom: 13,
          speed: 0.6,
          pitch: 40
        },
        'michigan': {
          duration: 3000,
          bearing: 270,
          center: [
            -87.624242, 41.896664
          ],
          zoom: 15.75,
          pitch: 75
        },
        'lakefront': {
          bearing: 250,
          center: [
            -87.616793, 41.896819
          ],
          zoom: 15.3,
          pitch: 60,
          speed: 0.5
        },
        'confluence': {
          bearing: 335,
          center: [
            -87.637893, 41.886379
          ],
          zoom: 15.75,
          pitch: 60
        },
      };

      // On every scroll event, check which element is on screen
      window.onscroll = function () {
        var chapterNames = Object.keys(chapters);
        for (var i = 0; i < chapterNames.length; i++) {
          var chapterName = chapterNames[i];
          if (isElementOnScreen(chapterName)) {
            setActiveChapter(chapterName);
            break;
          }
        }
      };

      var activeChapterName = 'fultonriver';
      function setActiveChapter(chapterName) {
        if (chapterName === activeChapterName)
          return;

        map.flyTo(chapters[chapterName]);

        document.getElementById(chapterName).setAttribute('class', 'active');
        document.getElementById(activeChapterName).setAttribute('class', '');

        activeChapterName = chapterName;
      }

      function isElementOnScreen(id) {
        var element = document.getElementById(id);
        var bounds = element.getBoundingClientRect();
        return bounds.top < window.innerHeight && bounds.bottom > 0;
      }
    </script>

  </body>
</html>
