<footer class="footer">
  <nav class="navbar d-flex">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a <%= link_to "Home", root_path %> </a></li>
        <li class="breadcrumb-item"><a <%= link_to "Residential", residential_path %> </a></li>
        <li class="breadcrumb-item"><a <%= link_to "Office", office_path %> </a></li>
        <li class="breadcrumb-item"><a <%= link_to "Migration", migration_path %> </a></li>
        <li class="breadcrumb-item"><a <%= link_to "Inventory", inventory_path %> </a></li>
        <li class="breadcrumb-item"><a <%= link_to "Apartment", apartment_path %> </a></li>
        <li class="breadcrumb-item"><a <%= link_to "Amenities", amenity_path %> </a></li>
        <li class="breadcrumb-item"><a <%= link_to "Infrastructure", infrastructure_path %> </a></li>
        <li class="breadcrumb-item"><a <%= link_to "Comps", comps_path %> </a></li>
        <li class="attribution"><a href = "http://riversideid.com/" target="_blank">
          <font color="black"> &copy; 2018 RIVERSIDE </font>
      </ol>
    </nav>
  </nav>
</footer>
