<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%= link_to "Riverside Investment", root_path, class: "navbar-brand", id: "logo" %>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="nav-right">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Chicago | Location Analytics<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a <%= link_to "Drone Flyover", root_path %></a></li>
            <li><a <%= link_to "Developed & Underway", existing_path %></a></li>
            <li><a <%= link_to "Planned", planned_path %></a></li>
            <li><a <%= link_to "Suburban Migration", migration_path %></a></li>
            <li><a <%= link_to "F&B Permits", amenity_path %></a></li>
            <li><a <%= link_to "3D Model of CBD", comps_path %></a></li>
            <li role="separator" class="divider"></li>
            <li><a <%= link_to "CTA L Data", transit_path %></a></li>
            <li><a <%= link_to "1040 Income", income_path %></a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
  </div><!-- /.container-fluid -->
</nav>
